.facet-component {
    margin-top: 0;
    padding: 16px;
    background-color: WhiteSmoke;
    width: 25%;
    max-width: 250px;
}

.facet-hidden {
    visibility: hidden;
}

.refine-query-label {
    margin-top: 10px;
    font-weight: bold;
}

.facet-box {
    margin-top: 0;
    margin-left: 10px;
    text-wrap: avoid;
}

.selected-facets {
    flex-wrap: wrap;
}

.selected-facet-button {
    font-size: 0.85em;
    margin: 2px;
}

.selected-facet-icon {
    color: darkred;
}

.search-results-component {
    margin-left: 0;
}

.search-result-element {
    margin-top: 5px;
    margin-left: 0;
    margin-bottom: 5px;
    padding: 0;
    background-color: lightsteelblue;
    max-width:1000px;
}

.search-result-checkbox {
    margin-left: 30px;
}

.no-results-label {
    font-style: italic;
}

.metadata-label {
    font-weight: bold;
}

.metadata-line {
    margin-top: 0;
}

.can-transfer-label {
    font-weight: bold;
    color: green;
}

.cannot-transfer-label {
    font-weight: bold;
    color: red;
}

.metadata-image-container {
    width: 100px;
    height: fit-content;
    max-width: 100px;
    max-height: 100px;
    padding-bottom: 0;
}

.metadata-image {
    max-width: 100px;
    max-height: 100px;
    margin: 0;
}

.query-form {
    margin-top: 0;
    max-width: 1000px;
    max-height: 40px;
}

.search-field {
    max-width: 1000px;
    min-width: 500px;
}

.navigation-button {
    width: 42px;
    min-width: 42px;
    max-width: 42px;
    height: 36px;
    margin: 2px;
    font-size: small;
    color: #000000;
}

.navigation-button-current {
    background-color: darkgray;
}

.navigation-bar {
    max-width: 1000px;
    width: 1000px;
}

.page-navigation-bar {
    margin-left: auto;
}

.button-as-text{
    background:none!important;
     color:inherit;
     border:none;
     padding:0!important;
     font: inherit;
     border:0;
     cursor: pointer;
}

.confirmation-dialog-title {
    font-weight: bold;
    font-size: large;
}

.import-grid-label {
    font-weight: bold;
}

.import-switching-buttons {
    max-width: 100px;
}